aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 16rem;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

main {
  margin-left: 16rem;
  min-width: 720px;
}

code {
  font-size: 14px;
}

.hljs.hljs {
  padding: 0.75rem 1rem;
  cursor: text;
}

.version {
  font-size: 0.875rem;
  font-weight: 400;
  fill: #0366d6;
}
