pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
code.hljs {
  padding: 3px 5px;
}
/*
  Theme: Cross Process Dark
  Description: Wrong chemicals in the film tank. Green shadows, magenta highlights
  Author: svelte-highlight
  License: MIT
*/
.hljs {
  color: #f0d8e8;
  background: #101818;
}
.hljs-comment,
.hljs-quote {
  color: #5a7068;
  font-style: italic;
}
.hljs-doctag,
.hljs-keyword,
.hljs-formula,
.hljs-template-tag {
  color: #e040a0;
}
.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-tag,
.hljs-subst {
  color: #e040a0;
}
.hljs-literal {
  color: #e0e040;
}
.hljs-string,
.hljs-regexp,
.hljs-attribute,
.hljs-meta .hljs-string {
  color: #40c070;
}
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-params,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #60a090;
}
.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #c080e0;
}
.hljs-built_in,
.hljs-title.class_,
.hljs-class .hljs-title {
  color: #60a090;
}
.hljs-punctuation,
.hljs-operator {
  color: #f0d8e8;
}
.hljs-code {
  color: #5a7068;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
.hljs-link {
  text-decoration: underline;
}
.hljs-addition {
  color: #c8e8d0;
  background-color: #182820;
}
.hljs-deletion {
  color: #f0c0d8;
  background-color: #281018;
}
