pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
code.hljs {
  padding: 3px 5px;
}
/*
  Theme: Fauve Light
  Description: The same clash on sized canvas
  Author: svelte-highlight
  License: MIT
*/
.hljs {
  color: #201410;
  background: #f4ece0;
}
.hljs-comment,
.hljs-quote {
  color: #7a6860;
  font-style: italic;
}
.hljs-doctag,
.hljs-keyword,
.hljs-formula,
.hljs-template-tag {
  color: #c02808;
}
.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-tag,
.hljs-subst {
  color: #c02808;
}
.hljs-literal {
  color: #a08000;
}
.hljs-string,
.hljs-regexp,
.hljs-attribute,
.hljs-meta .hljs-string {
  color: #2040a0;
}
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-params,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #7818a0;
}
.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #186848;
}
.hljs-built_in,
.hljs-title.class_,
.hljs-class .hljs-title {
  color: #7818a0;
}
.hljs-punctuation,
.hljs-operator {
  color: #201410;
}
.hljs-code {
  color: #7a6860;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
.hljs-link {
  text-decoration: underline;
}
.hljs-addition {
  color: #104828;
  background-color: #dce8d8;
}
.hljs-deletion {
  color: #801808;
  background-color: #f0dcd0;
}
