pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
code.hljs {
  padding: 3px 5px;
}
/*
  Theme: Haar Dark
  Description: North Sea fog at dusk. Almost no chroma, a cold violet-gray
  Author: svelte-highlight
  License: MIT
*/
.hljs {
  color: #d0ccda;
  background: #191820;
}
.hljs-comment,
.hljs-quote {
  color: #726e82;
  font-style: italic;
}
.hljs-doctag,
.hljs-keyword,
.hljs-formula,
.hljs-template-tag {
  color: #8c86a2;
}
.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-tag,
.hljs-subst {
  color: #a4948e;
}
.hljs-literal {
  color: #9a92ac;
}
.hljs-string,
.hljs-regexp,
.hljs-attribute,
.hljs-meta .hljs-string {
  color: #a49484;
}
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-params,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #847ea0;
}
.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #ada4c0;
}
.hljs-built_in,
.hljs-title.class_,
.hljs-class .hljs-title {
  color: #ac9c8a;
}
.hljs-punctuation,
.hljs-operator {
  color: #d0ccda;
}
.hljs-code {
  color: #726e82;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
.hljs-link {
  text-decoration: underline;
}
.hljs-addition {
  color: #c8d4d0;
  background-color: #202828;
}
.hljs-deletion {
  color: #c8c0c0;
  background-color: #282020;
}
