pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
code.hljs {
  padding: 3px 5px;
}
/*
  Theme: Strelitzia Dark
  Description: Bird of paradise. Orange beak, blue petal, green stem
  Author: svelte-highlight
  License: MIT
*/
.hljs {
  color: #f0ece0;
  background: #162018;
}
.hljs-comment,
.hljs-quote {
  color: #6a7868;
  font-style: italic;
}
.hljs-doctag,
.hljs-keyword,
.hljs-formula,
.hljs-template-tag {
  color: #f06018;
}
.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-tag,
.hljs-subst {
  color: #f06018;
}
.hljs-literal {
  color: #f0c020;
}
.hljs-string,
.hljs-regexp,
.hljs-attribute,
.hljs-meta .hljs-string {
  color: #2060c8;
}
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-params,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #4080c0;
}
.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #40c070;
}
.hljs-built_in,
.hljs-title.class_,
.hljs-class .hljs-title {
  color: #4080c0;
}
.hljs-punctuation,
.hljs-operator {
  color: #f0ece0;
}
.hljs-code {
  color: #6a7868;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
.hljs-link {
  text-decoration: underline;
}
.hljs-addition {
  color: #c8e8d0;
  background-color: #1c2c20;
}
.hljs-deletion {
  color: #f0d0b8;
  background-color: #2c1c10;
}
