pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
code.hljs {
  padding: 3px 5px;
}
/*
  Theme: Strelitzia Light
  Description: Cut stem on a table. Still orange against blue
  Author: svelte-highlight
  License: MIT
*/
.hljs {
  color: #142018;
  background: #eef4e8;
}
.hljs-comment,
.hljs-quote {
  color: #6a7868;
  font-style: italic;
}
.hljs-doctag,
.hljs-keyword,
.hljs-formula,
.hljs-template-tag {
  color: #c04008;
}
.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-tag,
.hljs-subst {
  color: #c04008;
}
.hljs-literal {
  color: #a07000;
}
.hljs-string,
.hljs-regexp,
.hljs-attribute,
.hljs-meta .hljs-string {
  color: #1840a0;
}
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-params,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #185088;
}
.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #186838;
}
.hljs-built_in,
.hljs-title.class_,
.hljs-class .hljs-title {
  color: #185088;
}
.hljs-punctuation,
.hljs-operator {
  color: #142018;
}
.hljs-code {
  color: #6a7868;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
.hljs-link {
  text-decoration: underline;
}
.hljs-addition {
  color: #104828;
  background-color: #d4e8d4;
}
.hljs-deletion {
  color: #801808;
  background-color: #f0dcd0;
}
