pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
code.hljs {
  padding: 3px 5px;
}
/*
  Theme: Thermal Dark
  Description: FLIR false color. Comments are cold purple. Keywords are white-hot
  Author: svelte-highlight
  License: MIT
*/
.hljs {
  color: #f0e8d8;
  background: #08080c;
}
.hljs-comment,
.hljs-quote {
  color: #5a4878;
  font-style: italic;
}
.hljs-doctag,
.hljs-keyword,
.hljs-formula,
.hljs-template-tag {
  color: #f0f0c0;
}
.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-tag,
.hljs-subst {
  color: #e05018;
}
.hljs-literal {
  color: #f0a018;
}
.hljs-string,
.hljs-regexp,
.hljs-attribute,
.hljs-meta .hljs-string {
  color: #e05018;
}
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-params,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #6030a0;
}
.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #c02080;
}
.hljs-built_in,
.hljs-title.class_,
.hljs-class .hljs-title {
  color: #6030a0;
}
.hljs-punctuation,
.hljs-operator {
  color: #f0e8d8;
}
.hljs-code {
  color: #5a4878;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
.hljs-link {
  text-decoration: underline;
}
.hljs-addition {
  color: #f0e0a0;
  background-color: #201808;
}
.hljs-deletion {
  color: #e8b0c8;
  background-color: #280818;
}
