.hljs {
  overflow-x: auto;
  font-size: 0.875rem;
  font-family: Menlo, monospace;
  line-height: 1.6;
}

[data-language="css"] {
  --langtag-background: linear-gradient(135deg, #2996cf, 80%, white);
  --langtag-color: #fff;
  --langtag-border-radius: 8px;
}

[data-language="svelte"] {
  --langtag-color: #fff;
}

.code {
  position: relative;
  display: inline;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.34;
  letter-spacing: 0.32px;
  border-radius: 0.25rem;
  background: var(--cds-ui-03);
  padding: 0 0.5rem;
}

li > .code {
  font-size: 0.75rem;
}

.mr-3 {
  margin-right: var(--cds-spacing-03);
}

.mb-3 {
  margin-bottom: var(--cds-spacing-03);
}

.mb-5 {
  margin-bottom: var(--cds-spacing-05);
}

.mb-9 {
  margin-bottom: var(--cds-spacing-09);
}

.text-02 {
  color: var(--cds-text-02);
}

.body-short-01 {
  font-family: var(--cds-body-short-01-font-family);
  font-weight: var(--cds-body-short-01-font-weight);
  font-size: var(--cds-body-short-01-font-size);
  line-height: var(--cds-body-short-01-line-height);
  letter-spacing: var(--cds-body-short-01-letter-spacing);
}

.label-01 {
  font-family: var(--cds-label-01-font-family);
  font-weight: var(--cds-label-01-font-weight);
  font-size: var(--cds-label-01-font-size);
  line-height: var(--cds-label-01-line-height);
  letter-spacing: var(--cds-label-01-letter-spacing);
}

.code-01 {
  font-size: var(--cds-code-01-font-size);
  font-weight: var(--cds-code-01-font-weight);
  letter-spacing: var(--cds-code-01-letter-spacing);
  line-height: var(--cds-code-01-line-height);
}

hr {
  margin-top: var(--cds-spacing-05);
  margin-bottom: var(--cds-spacing-05);
  border: 0;
  border-bottom: 1px solid var(--cds-ui-03);
}

.hidden {
  display: none;
}

body {
  overflow-y: scroll;
}

.bx--inline-notification {
  width: 100%;
  max-width: none;
}
