---
import DualThemePreview from "@components/DualThemePreview.svelte";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Dual light/dark HighlightStyle preview">
  <h1 class="mb-5">Dual light/dark HighlightStyle</h1>
  <DualThemePreview client:idle />
</Layout>
