---
import AnsiOutputPreview from "@components/AnsiOutputPreview.svelte";
import Layout from "@layouts/Layout.astro";
---

<Layout title="AnsiOutput preview">
  <h1 class="mb-5">AnsiOutput</h1>
  <AnsiOutputPreview client:idle />
</Layout>
