code {
  font-size: 0.8125rem;
  font-family: Menlo;
  line-height: 1.5;
}

pre.hljs {
  padding: 1.25rem 1rem 1.375rem !important;
}

.mb-3 {
  margin-bottom: var(--cds-spacing-03);
}

.mb-5 {
  margin-bottom: var(--cds-spacing-05);
}

.mb-7 {
  margin-bottom: var(--cds-spacing-07);
}

.text-02 {
  color: var(--cds-text-02);
}

.body-short-01 {
  font-family: var(--cds-body-short-01-font-family);
  font-weight: var(--cds-body-short-01-font-weight);
  font-size: var(--cds-body-short-01-font-size);
  line-height: var(--cds-body-short-01-line-height);
  letter-spacing: var(--cds-body-short-01-letter-spacing);
}

.label-01 {
  font-family: var(--cds-label-01-font-family);
  font-weight: var(--cds-label-01-font-weight);
  font-size: var(--cds-label-01-font-size);
  line-height: var(--cds-label-01-line-height);
  letter-spacing: var(--cds-label-01-letter-spacing);
}

hr {
  margin-top: var(--cds-spacing-05);
  margin-bottom: var(--cds-spacing-05);
  border: 0;
  border-bottom: 1px solid var(--cds-ui-03);
}
