on:
  pull_request:
  push:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1

      - name: Build and test the library
        run: |
          bun install
          bun run playwright install --with-deps
          bun run build:lib
          bun run build
          bun run package
          bun run check & bun run test
          bun run test:e2e
