on:
  pull_request:
  push:
    branches: [master]

permissions:
  contents: read

jobs:
  unit-tests:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
      - name: Install dependencies
        run: bun ci

      - name: Build library
        run: bun build:lib

      - name: Run unit tests
        run: bun test:unit

      - name: Run typecheck
        run: bun test:types

  e2e-tests:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun ci

      - name: Run Biome
        run: bunx biome ci --error-on-warnings

      - name: Install Playwright
        run: bun playwright install --with-deps

      - name: Build library
        run: bun build:lib

      - name: Run e2e tests
        run: bun test:e2e
